body{
  background-color:rgb(163, 163, 163);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button{
  padding:7px;
  cursor: pointer;
  background-color: rgb(12, 52, 226);
  box-shadow: 2px 2px rgb(175, 174, 174);
  color:black;
  border:1px solid rgb(3, 3, 3);
  border-radius: 10px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}

li{
  list-style: none;
}